
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  
  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
  }
  
  button {
    cursor: pointer;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
  }
  
  .container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .section {
    padding: 120px 0;
  }
  
  .header-nav {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    width: 1158px;
  }
  
  .nav-header {
    display: flex;
    align-items: center;
  }
  
  .logo-header {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
  }
  
  .logo-text {
    color: #2e2f42;
  }
  
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
  }
  
  .nav-link:focus,
  .nav-link:hover {
    color: #404bbf;
  }
  
  .contact-info {
    display: flex;
    margin-left: auto;
  }
  
  .contact-list {
    display: flex;
    gap: 40px;
  }
  
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
  }
  
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }
  
  
  /* Hero */
  .hero-section {
    background-color: #2e2f42;
    text-align: center;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  
  .order-button {
    display: block;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    height: 56px;
    min-width: 169px;
    margin: 0 auto;
    border-radius: 4px;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .order-button:focus,
  .order-button:hover {
    background: #404bbf;
  }
  
  /* Advantages */
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .comand-svg{
    display: flex;
    justify-content: center;
}
.comand-svg-ul{
    display: flex;
    flex-direction: row;
    gap: 24px;
    display: flex;
    justify-content: center;
}
.comand-svg-a{
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icon{
    fill: #f4f4fd;
}
.comand-svg-a:hover, .comand-svg-a:focus{
    background-color: #404bbf;
}
  
  .advantages-item {
   background-color: #FFFFFF;
   width: calc((100% - 72px) / 4);
   border-radius: 0 0 4px 4px;
   max-width: 264px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
  }
  
  .item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  
  .item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    
  }
  
  
  .team-info{
    padding: 32px 0;
  }
  .team-title {
    font-weight: 700;
    font-size: 36px;
   line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
   
  }
  
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    
  }
  
  .team-member {
    background-color: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 4px;
    text-align: center;
    border-radius: 0px 0px 4px 4px; 
    
  }
  
  .member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin: 8px 0;
   
  }
  
  .member-role {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
  }
  
  .portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px; 
  }
  
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  
  .portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  
  .portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  
  .portfolio-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
  }
  
  .footer-section {
    background-color: #2e2f42;
    padding: 100px 0;
    text-align: center;
  }

.footer-container{
    display: flex;
    align-items: baseline;
    /* gap: 120px; */
}
.footer-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-svg-ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.footer-svg-a {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fotter-svg ul li svg {
    fill: white;
}

.footer-svg-a:hover,
.footer-svg-a:focus {
    background-color: #31D0AA;
}
.footer-logo {
    margin-right: 120px;
}
  
  .footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block; 
  }
  
  .footer-logo-text {
    color: #f4f4fd;
    
  }
  
  .footer-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    max-width: 264px;
    margin: 0 auto;
  }